body{
    margin: 0;
}


.grid{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto auto ;
    margin-left: 290px;
}


aside{
    position: absolute;
    width: 260px;
    height: auto;
    margin: 10px;
}
aside > .bild{
    margin-bottom: 0;
}
aside > .bild > img{
    height: 240px;
    width: auto;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 0px;
}


header{
    display: flex;
    justify-content: center;
    font-size: x-large;
}


section{
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: -25px;
    width: 450px;


    background-color: beige;
    border: 3px solid black;
    border-radius: 40px;
}


main{
    margin-top: -10px;
    margin-left: 50px;
   
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto auto ;
}
 
main > .step{
    display: flex;
    text-align: left;


    width: 310px;
    height: 100px;


    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 20px;
}
